<!DOCTYPE html>
<html>
  <head>
    <title>My Tailwind App</title>
    <link href="/styles.css" rel="stylesheet" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-200 p-4">
    <h1 class="text-3xl font-bold">page 2</h1>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <h2 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      officia.
    </h2>
    <a href="/about">Go back home</a>
  </body>
</html>
