</html>
<!DOCTYPE html>
<html>
  <head>
    <title>My Tailwind App</title>
    <link href="/styles.css" rel="stylesheet" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/dockview-client.js" type="module"></script>
  </head>
  <body class="">
    <iframe
      src="<%=data.target%>/instance"
      frameborder="0"
      class="w-full h-full min-h-full"
    ></iframe>
  </body>
</html>
